.checkoutProduct{
    display: flex;
    background-color: rgb(109, 230, 145);
    border: 1px solid #4cf0e2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: fit-content;

}

.checkoutProduct__image{
    width:fit-content;
    max-width: 300px;
    margin: 2px;
    padding: 2px;

}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__info{
    font-size: 15px;
}

.checkoutProduct__button{
    border: 1px solid #55da43;
    background-color: #4cf0e2;
    margin-right: 10px;
    padding-right: 10px;
    
}