.log{
    background-color:rgb(71, 102, 110) ;
    height: 753px;
    margin-top: 0px;
    margin: 0px;
}

.login{
    background-color: rgb(212, 235, 129);
    align-items: center;
    margin-left: 500px;
    margin-right: 650px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-right: 5px solid rgb(5, 76, 82);
    border-bottom: 5px solid rgb(5, 76, 82);
    border-left: 1px solid rgb(5, 76, 82);
    border-top: 2px solid rgb(5, 76, 82);
    border-radius: 10px;

}

.name{
    border-radius: 5px;
    border-right: 2px solid rgb(218, 46, 46);
    border-bottom: 2px solid rgb(218, 46, 46);
    background-color: rgb(230, 133, 43);
}

.email{
    border-radius: 5px;
    border-right: 2px solid rgb(218, 46, 46);
    border-bottom: 2px solid rgb(218, 46, 46);
    background-color: rgb(230, 133, 43);

}

.pass{
    border-right: 2px solid rgb(218, 46, 46);
    border-bottom: 2px solid rgb(218, 46, 46);

    border-radius: 5px;
    background-color: rgb(230, 133, 43);
    margin-right: 10px;

}

.but{
    border: 1px solid rgb(200, 228, 136);
    background-color: burlywood;
    border-radius: 5px;
}

.head{
    align-items: center;
    margin-left: 585px;
    margin-top: 0px;
    padding-top: 20px;
    font-size: 50px;
}

.wel{
    color: coral;
    padding-bottom: 5px;
    margin-left: 530px;
}